<ng-template #placeholderRef>{{ placeholder }}</ng-template>
<div class="select-wrapp">
  <div class="select" [class.is-active]="isActive" (click)="toggleSelect()">
    <ng-content></ng-content>
    <span *ngIf="!onlyIconMode && !externalDisplayValue">
      <ng-container *ngIf="selectedIndex !== -1; else placeholderRef">
        {{ displayValue }}
      </ng-container>
    </span>
    <i *ngIf="!assetsSrc && (!singleOptionAsPlaceholder || options?.length > 1)" class="fa fa-angle-down"></i>
    <ul>
      <ng-content select="[select-first-position]"></ng-content>
      <li *ngFor="let option of options; let i = index" (click)="selectOption(option[modelPropertyKey], i)">
        {{ option[selectedOptionDisplayKey] }}
      </li>
    </ul>
  </div>
</div>