<ng-container [ngSwitch]="true">
  <ng-container
    *ngSwitchCase="['football','handball','rugby-union','rugby-league','e-football'].includes(sportType)"
    i18n="period type displayed on live match scoreboard">
    half
  </ng-container>
  <ng-container
    *ngSwitchCase="['tennis','volleyball','badminton','beach-volleyball','table-tennis'].includes(sportType)"
    i18n="period type displayed on live match scoreboard">
    set
  </ng-container>
  <ng-container
    *ngSwitchCase="sportType === 'ice-hockey'"
    i18n="period type displayed on live match scoreboard">
    prd
  </ng-container>
  <ng-container
    *ngSwitchCase="['basketball','american-football','water-polo','e-basketball'].includes(sportType)"
    i18n="period type displayed on live match scoreboard">
    qrt
  </ng-container>
  <ng-container
    *ngSwitchCase="['baseball','cricket'].includes(sportType)"
    i18n="period type displayed on live match scoreboard">
    inning
  </ng-container>
  <ng-container
    *ngSwitchCase="sportType === 'darts'"
    i18n="period type displayed on live match scoreboard">
    leg
  </ng-container>
  <ng-container
    *ngSwitchCase="sportType === 'snooker'"
    i18n="period type displayed on live match scoreboard">
    frame
  </ng-container>
  <ng-container
    *ngSwitchCase="sportType === 'boxing'"
    i18n="period type displayed on live match scoreboard">
    round
  </ng-container>
  <ng-container
    *ngSwitchCase="['counter-strike-go','league-of-legends','dota-2','starcraft-2','heroes-of-the-storm','overwatch'].includes(sportType)"
    i18n="period type displayed on live match scoreboard">
    map
  </ng-container>
</ng-container>