<!-- noblebet -->
<section class="lv-table">
  <div class="lv-title">
    <h3 i18n>Live</h3>
  </div>
  <ng-template #stillLoadingRef>
    Loading...
  </ng-template>
  <ng-container *ngIf="{
    token: token$ | async,
    isDataLoaded: isDataLoaded$ | async,
    matchesInActiveDiscipline: matchesInActiveDiscipline$ | async,
    primaryMarkets: primaryMarkets$ | async,
    disciplines: disciplines$ | async,
    activeDiscipline: activeDiscipline$ | async,
    primaryMarketsGroupedByMatch: primaryMarketsGroupedByMatch$ | async,
    defaultPrimaryColumnConfig: defaultPrimaryColumnConfig$ | async
  } as data">
    <ng-container *ngIf="data.isDataLoaded; else stillLoadingRef">
      <div class="row lv-table-information top-bet">
        <disciplines-select
          class="col-d-5 col-t-12"
          [disciplines]="data.disciplines" 
          [activeDiscipline]="data.activeDiscipline"
          (activeDisciplineChange)="activeDiscipline$.next($event)"></disciplines-select>
      </div>
      <ng-container *ngFor="let match of data.matchesInActiveDiscipline; trackBy: tracker.trackByMatchId">
        <match-row 
          [token]="data.token"
          [match]="match"
          [primaryMarkets]="data.primaryMarketsGroupedByMatch[match.id]"
          [col1PrimaryColumnConfig]="data.defaultPrimaryColumnConfig"></match-row>
      </ng-container>
    </ng-container>
  </ng-container>
</section>