<span #topTenRef class="is-hidden" i18n>top 10</span>

<ng-container *ngIf="uiHandler.disciplines">
  <sb-select
    [singleOptionAsPlaceholder]="true" 
    placeholder="Select discipline"
    [(ngModel)]="uiHandler.activeDisciplineId"
    [options]="uiHandler.disciplinesWithTop"
    (ngModelChange)="uiHandler.emitActiveDiscipline($event)" 
    modelPropertyKey="id" 
    selectedOptionDisplayKey="name"
    placeholder-i18n></sb-select>
</ng-container>