<ng-template #matchStatsNotExistRef>
  <span class="score">-</span>
  -
  <span class="score">-</span>
</ng-template>

<ng-container *ngIf="{
  token: token$ | async,
  matchSocket: matchSocket$ | async,
  matchStatsSocket: matchStatsSocket$ | async,
  matchLink: matchLink$ | async
} as data"> 
  <div 
    class="row" 
    [class.is-hidden]="!data.matchSocket.state.isVisible"
    [class.is-suspended]="data.matchSocket.state.isSuspended">
    <div class="row lv-table-entry" [class.is-live]="match.state.isLive">
      <div class="col-d-5 col-t-12 teams">
        <div *ngIf="!match.state.isLive" class="date">
          <span>{{ match.date | date: 'HH:mm' }}</span>
        </div>
        <span class="score-wrapper">
          <ng-container *ngIf="data?.matchStatsSocket?.periodOrderNumeral">
            <span class="half">
              <match-period-type [sportType]="match.discipline.label"></match-period-type>
              {{ data.matchStatsSocket.periodOrderNumeral }}
            </span>
          </ng-container>
        </span>
        <span class="sports-groups">
          <span>{{ match.discipline.name }}</span>
          <span>/</span>
          <span>{{ match.region.name }}</span>
          <span>/</span>
          <span>{{ match.league.name }} </span>
        </span>
      </div>
    </div>
    <div class="row lv-table-entry">
      <div class="col-d-5 col-t-12 teams">
        <a href="#">
          <div *ngIf="!match.state.isLive" class="date">
            {{ match.date | date: 'dd.MM' }} 
          </div>
          <p
            class="has-tooltip"
            [sbTooltip]="sbTooltip">
            <span class="score-wrapper">
              <span *ngIf="match.state.isLive" class="score-container">
                <ng-container *ngIf="data.matchStatsSocket else matchStatsNotExistRef">
                  <span class="score">{{ data.matchStatsSocket.scoreHome }}</span> -
                  <span class="score">{{ data.matchStatsSocket.scoreAway }}</span>
                </ng-container>
              </span>
            </span>
            {{ match.homePlayer }}
            <ng-container *ngIf="match.awayPlayer">
              - {{ match.awayPlayer }}
            </ng-container>
            <span #sbTooltip class="tooltip">{{ match.homePlayer }} - {{ match.awayPlayer }}</span>
          </p>
        </a>
      </div>

      <div class="col-d-1 col-t-3 col-st-12 stats-row">
        <div class="row">
          <div class="col-d-6">
            <a href="#" class="btn-bet btn-sch-default">
              <span class="detail"><i class="fa fa-check"></i></span>
              <i class="fa fa-plus"></i> {{ match.marketsCount }}
            </a>
          </div>
          <div class="col-d-6">
            <a class="btn-bet btn-sch-default" href="#">
              <img *ngIf="match.state.isLive && match.livescoreproId" alt="football-field" src="img/icons/football-field.svg" class="football-field">
              <i *ngIf="!match.state.isLive && match.scoreframeId" class="fa fa-bar-chart stats"></i>
              <ng-container *ngIf="match.state.isLive && !match.livescoreproId || (!match.state.isLive && !match.scoreframeId)">-</ng-container>
            </a>
          </div>
        </div>
      </div>
  
      <ng-container *ngFor="let primaryColumnConfig of colPrimaryColumnConfigs; let i = index">
        <div 
          [setClass]="{
            'col-d-2 col-md-3 col-sd-2 col-t-6 col-st-6 col-sm-12': colPrimaryColumnConfigs.length === 3 && i === 0,
            'col-d-2 col-md-3 col-sd-2 col-t-6 col-st-6 col-st-hidden': colPrimaryColumnConfigs.length === 3 && i === 1,
            'col-d-2 col-md-hidden col-sd-show col-t-hidden col-st-hidden': colPrimaryColumnConfigs.length === 3 && i === 2,
  
            'col-d-3 col-t-6 col-st-12': colPrimaryColumnConfigs.length === 2 && i === 0,
            'col-d-3 col-t-6 col-st-hidden': colPrimaryColumnConfigs.length === 2 && i === 1,
  
            'col-d-6': colPrimaryColumnConfigs.length === 1
          }">
          <odds-buttons
            class="odds-buttons"
            [token]="data.token"
            [settings]="{ 
              isPrimaryColumnConfigInside: true, 
              isOnlyRate: true,
              selectFirstMarket: settings?.isTop10Group
            }"
            [match]="match"
            [matchSocket]="data.matchSocket"
            [primaryMarkets]="primaryMarkets" 
            [primaryColumnConfig]="primaryColumnConfig"></odds-buttons>
        </div>
      </ng-container>
  

  
    </div>
  </div>
</ng-container>