<ng-template #lineButton let-market="market">
  <ng-container *ngIf="primaryColumnConfig?.hasLine">
    <div [ngClass]="{
      'col-d-12': templateHandler.getSelectionsLength(market) === 1,
      'col-d-6': templateHandler.getSelectionsLength(market) === 2,
      'col-d-4': templateHandler.getSelectionsLength(market) === 3
    }">
      <button class="btn-bet btn-sch-default is-line">
        <span class="btn">
          <span class="selection-name">{{ primaryColumnConfig.columns[0] }}</span>
          <span class="selection-odds">{{ market.line }}</span>
        </span>
      </button>
    </div>
  </ng-container> 
</ng-template>

<ng-template #seeMoreBtnRef>
  <div class="row lv-market-selections selections-simple">
    <div class="col-d-12"></div>
  </div>
</ng-template>

<ng-container *ngIf="{
  market: market$ | async,
  rates: rateChanges$ | async,
  isSuspended: isSuspended$ | async,
  activeSelections: activeSelections$ | async,
  notEmptyColumns: notEmptyColumns$ | async
} as data">
  <ng-container *ngIf="data.market as market; else seeMoreBtnRef">
    <div class="row lv-market-selections selections-simple">
      <ng-container *ngTemplateOutlet="lineButton; context: { market: market }"></ng-container>
      <ng-container *ngFor="let selection of market.selections; let selectionIndex = index">
        <div [ngClass]="{
          'col-d-12': templateHandler.getSelectionsLength(market) === 1,
          'col-d-6': templateHandler.getSelectionsLength(market) === 2,
          'col-d-4': templateHandler.getSelectionsLength(market) === 3
        }">
          <ng-container *ngIf="settings?.isPrimaryColumnConfigInside">
            <span 
              class="selection-name" 
              [class.is-disabled]="data.isSuspended">{{ templateHandler.getPrimaryColumnAtIndex(selectionIndex) }}</span>
          </ng-container>
          <button
            [clearCssAnimation]="['is-increased', 'is-decreased']"
            [class.is-active]="data?.activeSelections?.includes(selection.id)"
            [disabled]="data.isSuspended"
            [class.is-increased]="data.rates[selection.id].current.decimal > data.rates[selection.id].previous.decimal"
            [class.is-decreased]="data.rates[selection.id].current.decimal < data.rates[selection.id].previous.decimal"
            (click)="toggleSelection$.next({ selection: selection, rate: data.rates[selection.id].current, match: match })"
            class="btn-bet btn-sch-default">
            <ng-container *ngIf="settings?.isOnlyRate">
              {{ data.rates[selection.id].current.decimal }}
            </ng-container>
            <ng-container *ngIf="settings?.isSelectionNameInside">
              <span class="btn">
                <span class="selection-name">{{ selection.name }}</span>
                <span class="selection-odds">{{ data.rates[selection.id].current.decimal }}</span>
              </span>
            </ng-container>
            <span class="detail">
              <i class="fa fa-check"></i>
            </span>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>